* {
    margin: 0px ;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
}
footer{
    font-family: 'Roboto', sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
  }

.cabecera {
    background-color: #565B62 ;
    text-align: center;
    color: white;
    height: 40px;
    padding: 5px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #accbd6;  */
    /* background-color: #85C1E9;  */
    /* background-color: #6491AF; */
    background-color: #39A6A3; 
    height: 80px;
}
#logo {
    width: 30%;
    padding-left: 65px; 
}
.main-header img {
    height: 100px;
}
.search {
    width: 40%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botonBusqueda{
    background-color: #39A6A3;
    border: none;
}

.inputSearch{
    display:flex;
    justify-content: center;
    align-items: center;
}

.search2{
    padding:15px;
}

.search input {
    width: 100%;
    height: 35px;
    border-radius: 15px;
    border: none;
}
.search i {
    position: relative;
    /* top: 63px; */
    right: 40px;
    font-size: 20px;
}
.login-cart{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.user-logged {
    display: flex;
    align-items: center;
    padding: 5px;
}
.user-logged img { 
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border-radius: 50%;
}
.user-logged a { 
    font-weight: bold;
}
.logout a {
    font-weight: bold;
    margin-left: 15px;
}
#login {
    margin: 10px;
    color: black;
}

#cart {
    margin: 10px;
    color: black;
}
.main-header a i{
    font-size: 30px;
}
.second-header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #DAD3D3;
}
.second-header form {
    margin-top: 15px;
}
.second-header p button {
    margin: 25px 25px;
    font-weight: 500;
    font-size: 18px;
    border: transparent;
    background-color: #DAD3D3 ;
    cursor: pointer;
}

.slideshow-container {
    position: relative;
    margin: auto;
  }

.banner {
    display: none;
    position: relative;
    margin-bottom: 25px;
}

.banner img{
    width: 100%;
    height: 450px;
    
}
.flecha-izquierda {
    cursor: pointer;
    font-size: 40px;
    position: absolute;
    top: 40%;
    left: 10px;
    padding: 0 5px 5px 0 ;
    border-radius: 2px;

}
.flecha-derecha {
    cursor: pointer;
    font-size: 40px;
    position: absolute;
    top: 40%;
    right: 10px;
    padding: 0 5px 5px 0 ;
    border-radius: 2px;
}

.flecha-derecha:hover, .flecha-izquierda:hover {
    background-color: rgba(0,0,0,0.8);
    color: aliceblue;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.section-home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin-bottom: 15px ;
}
.producto-home {
    width: 25%;
    position: relative;

}
.producto-home h2 {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    transition: all 700ms ;
}
.producto-home:hover h2 {
    opacity: 1;

}
.producto-home img {
    width: 100%;
}

#sale{
    color:red;
}

#nuevoProducto{
    color: #39A6A3;
}