* {
    margin: 0px ;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
}
footer{
    font-family: 'Roboto', sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
  }

.cabecera {
    background-color: #565B62 ;
    text-align: center;
    color: white;
    height: 40px;
    padding: 5px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #accbd6;  */
    /* background-color: #85C1E9;  */
    /* background-color: #6491AF; */
    background-color: #39A6A3; 
    height: 80px;
}
#logo {
    width: 30%;
    padding-left: 65px; 
}
.main-header img {
    height: 100px;
}
.search {
    width: 40%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botonBusqueda{
    background-color: #39A6A3;
    border: none;
}

.inputSearch{
    display:flex;
    justify-content: center;
    align-items: center;
}

.search2{
    padding:15px;
}

.search input {
    width: 100%;
    height: 35px;
    border-radius: 15px;
    border: none;
}
.search i {
    position: relative;
    /* top: 63px; */
    right: 40px;
    font-size: 20px;
}
.login-cart{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.user-logged {
    display: flex;
    align-items: center;
    padding: 5px;
}
.user-logged img { 
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border-radius: 50%;
}
.user-logged a { 
    font-weight: bold;
}
.logout a {
    font-weight: bold;
    margin-left: 15px;
}
#login {
    margin: 10px;
    color: black;
}

#cart {
    margin: 10px;
    color: black;
}
.main-header a i{
    font-size: 30px;
}
.second-header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #DAD3D3;
}
.second-header form {
    margin-top: 15px;
}
.second-header p button {
    margin: 25px 25px;
    font-weight: 500;
    font-size: 18px;
    border: transparent;
    background-color: #DAD3D3 ;
    cursor: pointer;
}

.slideshow-container {
    position: relative;
    margin: auto;
  }

.banner {
    display: none;
    position: relative;
    margin-bottom: 25px;
}

.banner img{
    width: 100%;
    height: 450px;
    
}
.flecha-izquierda {
    cursor: pointer;
    font-size: 40px;
    position: absolute;
    top: 40%;
    left: 10px;
    padding: 0 5px 5px 0 ;
    border-radius: 2px;

}
.flecha-derecha {
    cursor: pointer;
    font-size: 40px;
    position: absolute;
    top: 40%;
    right: 10px;
    padding: 0 5px 5px 0 ;
    border-radius: 2px;
}

.flecha-derecha:hover, .flecha-izquierda:hover {
    background-color: rgba(0,0,0,0.8);
    color: aliceblue;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.section-home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin-bottom: 15px ;
}
.producto-home {
    width: 25%;
    position: relative;

}
.producto-home h2 {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    transition: all 700ms ;
}
.producto-home:hover h2 {
    opacity: 1;

}
.producto-home img {
    width: 100%;
}

#sale{
    color:red;
}

#nuevoProducto{
    color: #39A6A3;
}


/* NOT FOUND  */


.error-container {
    text-align: center;
    font-size: 180px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 800;
    margin: 20px 15px;
  }
  .error-container > span {
    display: inline-block;
    line-height: 0.7;
    position: relative;
    color: #FFB485;
  }
  .error-container > span > span {
    display: inline-block;
    position: relative;
  }
  .error-container > span:nth-of-type(1) {
    perspective: 1000px;
    perspective-origin: 500% 50%;
    color: #F0E395;
  }
  .error-container > span:nth-of-type(1) > span {
    transform-origin: 50% 100% 0px;
    transform: rotateX(0);
    animation: easyoutelastic 8s infinite;
  }
  
  .error-container > span:nth-of-type(3) {
    perspective: none;
    perspective-origin: 50% 50%;
    color: #D15C95;
  }
  .error-container > span:nth-of-type(3) > span {
    transform-origin: 100% 100% 0px;
    transform: rotate(0deg);
    animation: rotatedrop 8s infinite;
  }
  @keyframes easyoutelastic {
    0% {
      transform: rotateX(0);
    }
    9% {
      transform: rotateX(210deg);
    }
    13% {
      transform: rotateX(150deg);
    }
    16% {
      transform: rotateX(200deg);
    }
    18% {
      transform: rotateX(170deg);
    }
    20% {
      transform: rotateX(180deg);
    }
    60% {
      transform: rotateX(180deg);
    }
    80% {
      transform: rotateX(0);
    }
    100% {
      transform: rotateX(0);
    }
  }
  
  @keyframes rotatedrop {
    0% {
      transform: rotate(0);
    }
    10% {
      transform: rotate(30deg);
    }
    15% {
      transform: rotate(90deg);
    }
    70% {
      transform: rotate(90deg);
    }
    80% {
      transform: rotate(0);
    }
    100% {
      transform: rotateX(0);
    }
  }
      
  .body404 {
    margin-left: 150px;
  }
  
  .text404 {
    text-align: center;
    margin: 30px 15px;
    color: #bbb;
  }
  
  .zoom-area { 
    max-width: 490px;
    margin: 30px auto 30px;
    font-size: 19px;
    text-align: center;
  }
  
  .link-container {
    text-align: center;
  }
  a.more-link {
    text-transform: uppercase;
    font-size: 13px;
      background-color: #bbb;
      padding: 10px 15px;
      border-radius: 0;
      color: #fff;
      display: inline-block;
      margin-right: 5px;
      margin-bottom: 5px;
      line-height: 1.5;
      text-decoration: none;
    margin-top: 50px;
    letter-spacing: 1px;
  }

  /* ------------------------------------------------------------------------ */
/*                      ESTILOS FOOTER                                      */
/* ------------------------------------------------------------------------ */

.footer {
  display: flex; 
  justify-content: space-around;
  background-color: #39A6A3 ;
}

.copyright p{
  font-size: 15px;
  padding: 10px;
  text-align: center;
  font-style: italic;
  margin-bottom: 0px;
}

.footer section {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
}

#redes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer section h3 {
  margin: 15px 0 5px 0;
  
}

.footer section ul {
  margin: 10px 0 10px 0;
  list-style: none;
}

.footer section ul li {
  margin: 5px 0px;
}

.footer section ul a {
  color: black;
  text-decoration: none;
  font-size: 17px;
}

#caja-iconos-redes i{
  font-size: 35px;
}

.iconos-redes {
  margin: 0px 10px; 
  font-size: 43px;
}

.copyright {
  background-color: #DAD3D3 ;
  font-size: 15px;
  position: relative ;
  top: -1px;
}